

$primary-text-color: #fff;
$blue-text-color: #3e8ad8;
$green-text-color: #229a55;




$secondary-text-color: #525252;
$third-text-color: #eeeeee;
$forth-text-color: #ffa700;
$gray-color: #b8b8b8;
$dark_title: #515151;
// $primary-text-color: #752157;
// $secondary-color: #878787;
$gray_light: #f8f8f8;
$gray_light_dark: #6d6f72;
$primary-background-color: #611445;
$secondary-background-color: #752157;
$light_base_color: #89336e;
$default-font-size: 14px;
